<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Staff information</title>
    <style media="screen">
      .conatainer{
        text-align: center;
        background-color: palegreen;
        width:50%;
        padding: 7%;
        position: absolute;
        left:20%;
        top: 15%;
      }
      .navbar{
        width: 100%;
         height: 80%;
      }
    </style>
  </head>
  <body>
    <div class="conatainer">
      <nav style="background-color:#7eca9c" class="navbar">
        <h1>Staff Details</h1>
      </nav>
      <h2>Staffname:   <%= Name %></h2>
      <h2>Department:   <%= Dept %></h2>
      <h2>Edu.qualification:   <%= Degree %></h2>
      <h2>Cabin:   <%= Room %></h2>
      <h2>Mobile:   <%= Cell %></h2>
    </div>
  </body>
</html>
